html{
     --top-spacing: 100px;
     scroll-padding-top: var(--top-spacing);
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a{
    display: inline-block;
    text-decoration: none;
}

ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
     box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    background-color: $bg;
    margin: 0;
    padding: 0;
}

body._lock{
     overflow: hidden;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}