@media (max-width: 991px){
     .section{
          .continent{
          font-size: 50px;
          }
     }
}

@media (max-width: 700px){

          .main__title{
               font-size: 24px;
          }
          .main__suptitle{
               font-size: 18px;
               padding: 0 10px ;
          }
     
          .footer__copy{
                    font-size: 14px;
          }
          

}