@import 'vars';
@import 'global';
@import 'fonts';



.header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 10;
     background-color: #fff;
  &__container {
     max-width: 1200px;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0px 30px;
     height: 70px;
}
  &__logo {
     display: flex;
     justify-content: center;
     align-items: center;
     color: #005DB4;
     z-index: 5;
     font-family: 'Roboto';
     font-weight: bold;
     svg{
          fill: #005DB4;
     }
  }
  &__menu {

  }
}

.menu {
  &__icon {
       display: none;
  }
  &__body {}
  &__list {
     display: flex;
     justify-content: space-between;
     align-items: center;
     }
  &__list > li{
       position: relative;
       margin-left: 30px;
       font-size: 24px;
       font-family: 'Roboto';
       font-weight: bold;
  }
  &__link:hover{
       text-decoration: underline;
  }
  &__link {
       color: #333;
       font-size: 18px;
  }
  &__sublist > li{
     margin-bottom: 10px;
  }

&__sublist li:last-child{
     margin-bottom: 0px;
  }

  &__sublist {
       transition: opacity .3s linear;
       visibility: hidden;
       opacity: 0;
       position: absolute;
       top: 100%;
       right: 0;
       background-color: #333;
       padding: 15px;
       min-width: 200px;
  }
  &__sublink:hover{
       text-decoration: underline;
  }
  &__sublink {
       color: #fff;
  }
}

body._pc .menu__list > li:hover .menu__sublist{
     opacity: 1;
     visibility: visible;
     transform: translate(0px, 0px);
     pointer-events: all;
}

.main{
     &__slider{
          height: 100%;
          margin-top: 100px;
          img{
               max-width: 100%;
               height: auto;
          }
     }
     &__bg{
          height: auto;
          background: url('../images/main-bg.png') center no-repeat;
          background-size: cover;
          text-align: center;
     }
     &__title{
          font-size: 36px;
          font-family: 'Rubik';
          font-weight: 700;
          font-style: italic;
          color: #005DB4;
     }
     &__suptitle{
          font-size: 24px;
          font-family: 'Overpass';
          color: #1B9211;
          font-weight: 600;
     }
}

.section{
     margin-top: 50px;
     .continent{
             padding-top: 50px;
          font-family: 'Manrope', sans-serif;
          font-size: 72px;
          font-weight: 400;
          text-align: center;
          margin-bottom: 30px;
          
     }
     .continent__info{
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          text-align: justify;
          text-indent: 2em;
          .city{
               margin-bottom: 30px;
               margin-top: 30px;
          }
          .img__city{
               max-width: 100%;
               height: auto;
          }
     }
}

.footer{
     height: 55px;
     background-color: #424139;
     padding-top: 5px;
     
     .container__footer{
          display: flex;
          align-items: center;
          justify-content: center;
     }
     &__copy{
          font-family: 'Montserrat';
          font-size: 18px;
          color: $bg;
          flex: 1 1 auto;
          text-align: center;
          line-height: 1;
    }
    &__top{
         a{
              font-family: 'Montserrat';
              font-size: 12px;
              color: $bg;
         }
         a:hover{
              text-decoration: underline;
         }
    }
    
}
@import 'media';