@import 'vars';
@import 'global';
@import 'fonts';



.header{
     height: 70px;
     background-color: $bg;
}
.nav__inner{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.nav__logo{
     color: #215586;
     text-align: center;
     @include f700;
     font-size: 24px;
     svg{
          width: 72px;
          height: 72px;
          fill: #215586;
     }
     &__name{
          margin-top: -30px;
     }
}
.nav__item{
     display: flex;
     align-items: center;
     height: 35px;
     a{
          @include f700;
          font-size: 18px;
          margin-left: 25px;
          transition: opacity 0.2s linear;
          position: relative;
          opacity: 0.7;
     }
     a:before{
          content: "";
          display: block;
          width: 100%;
          height: 2px;

          background-color: #846767;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 100;
          opacity: 0.5;
          transition: opacity .2s linear;
     }
     a:hover{
          opacity: 1;
     }
     a:hover:before{
          opacity: 0.5;
     }
}
.main{
     &__slider{
          height: 100%;
          margin-top: 30px;
          img{
               max-width: 100%;
               height: auto;
          }
     }
     &__bg{
          height: auto;
          background: url('../images/main-bg.png') center no-repeat;
          background-size: cover;
          text-align: center;
     }
     &__title{
          font-size: 36px;
          font-family: 'Rubik';
          font-weight: 700;
          font-style: italic;
          color: #005DB4;
     }
     &__suptitle{
          font-size: 24px;
          font-family: 'Overpass';
          color: #1B9211;
          font-weight: 600;
     }
}

.section{
     margin-top: 50px;
     .continent{
          font-family: 'Manrope', sans-serif;
          font-size: 72px;
          font-weight: 400;
          text-align: center;
          margin-bottom: 30px;
          
     }
     .continent__info{
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          text-align: justify;
          text-indent: 2em;
          .city{
               margin-bottom: 30px;
               margin-top: 30px;
          }
          .img__city{
               max-width: 100%;
               height: auto;
          }
     }
}

.footer{
     height: 50px;
     background-color: #424139;
     padding-top: 5px;
     .container__footer{
          display: flex;
          align-items: center;
          justify-content: center;
     }
     &__copy{
          font-family: 'Montserrat';
          font-size: 18px;
          color: $bg;
          flex: 1 1 auto;
          text-align: center;
    }
    &__top{
         a{
              font-family: 'Montserrat';
              font-size: 12px;
              color: $bg;
         }
         a:hover{
              text-decoration: underline;
         }
    }
    
}
@import 'media';